* {
  margin: 0;
  padding: 0;
}
.cart-item {
  border: 1px solid rosybrown;
  background-color: rgb(115, 177, 235);
  display: grid;
  grid-template-columns: 200px 500px 50px 80px 50px;
  grid-column-gap: 0.5rem;
  margin: 1.5rem 0;
}
.bt {
  width: 50%;
}
.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-top: 1rem;
}
